*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

.gradient {
    background: rgb(0, 97, 242);
    background-image: linear-gradient( 135deg, rgba(0, 97, 242, 1) 0%, rgba(105, 0, 199, 1) 100%);
}

.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    color: white;
}

.feature ul {
    padding-left: 2rem;
    list-style-type: none;
}

.feature ul li {
    padding-left: 2rem;
    background-image: url("images/check.svg");
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.icon {
    width: 5rem;
    height: 5rem;
    font-size: 1.75rem;
    color: white;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    background-color: whitesmoke;
}

.gallery img {
    border-radius: 5%;
}

.services {
    color: white;
}

@media (max-width: 752px) {
    img {
        max-width: 60%;
    }

    body {
        font-size: .8rem;
    }
}

@media (max-width: 575px) {
    .page-header img {
        display: none;
    }
}

@media (max-width: 760px) {
    .feature img {
        max-width: 50%;
    }
}

@media (max-width: 1024px) {
    section.gallery svg:last-child {
        height: 10px;
    }
}

@media (max-width: 767px) {
    section.services img {
        display: none;
    }
}